<h3>Entries <small>{{entries|length}}</small></h3>
<table class="table table-hover table-bordered">
    {% if folder is defined and folder%}
    <td style="width: 1px;">

    </td>
    <td>
        {% if parentFqen %}
        <a target="_top" href="{{path('index_folder_view', {'fqen': parentFqen })}}">
        {% else %}
        <a target="_top" href="{{path('index_index')}}">
        {% endif %}
        ..</a>
        <br />
    <td>
    {% endif %}
    {% for entry in entries %}
    <tr>
        <td style="width: 1px;">
            <img title="{{entry.type.name}}" src="{{entry.type.icon}}" style="width: 16px; height: 16px;" />
        </td>
        <td>
            {% if entry.type.name == 'folder' %}
            <a target="_top" href="{{path('index_folder_view', {'fqen': entry.fqen })}}">
            {% else %}
            <a target="_top" href="{{path('index_entry_view', {'fqen': entry.fqen })}}">
            {% endif %}
            {{entry.getDisplayName()|default('(No name)')}}
            </a>
            <br />
            {#
            <i>{{ entry.type.name }}</i>
            #}
        <td>
    </tr>
    {% endfor %}
</table>
